.whole-page{

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.top-right {
  display:block;
  width: 300px;
  float:right;
  height: auto;
}
.barkmail {
  position:relative;
  display:inline-block;
  color: white;
  padding-left: 10%;
  margin: 0% 5% 0% 5%;
}
.images {
  position:relative;
  display:inline-block;
  color: white;
  margin: 0% 5% 0% 5%;

}
.doge {
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  object-fit: fill;
  height: 40px;
  width: 40px;
  display:inline-block;
  vertical-align: middle;
  margin: 0% 10% 0% 5%;
}

.mainstuff{
  display: block;
  text-align: center;
  margin: 25% 10% 2% 10%;
}
.title{
margin:0% 1% 0% 1% ;
}
.searchBar{
  background: white;
  border-radius: 30px;
  width: 70%;
  padding: 5px 50px 5px 50px;
  margin: 0% 10% 5% 10%;
}
.search{

}

.lower-page{
  display:block;
  text-align: center;
  border-radius: 15px ;
}
.sniff{
  position:relative;
  display:inline-block;
  background-color: #ededed;
  color: blue;
  padding: 15px;
}
.snoot{
  position:relative;
  display:inline-block;
  background-color: #ededed;
  color: blue;
  padding: 15px;
}

body{
  background-color:#7ac9e1;
  margin-top: 0px;
  }
h1{
  font-size: 100px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  background: url(https://media.istockphoto.com/photos/fur-texture-picture-id673628572?k=20&m=673628572&s=612x612&w=0&h=88UR5pdbwkXjkzUF7Uzv-xMlW6KV3U5gEwZ8XnzuGxs=) no-repeat center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip:text;
  background-clip:text;
  padding:0;
  margin:0;
  text-align:center;
}
p{
  color: #ba6611;
  font-family:sans-serif;
}
