.whole-page{

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.top-right {
  display:block;
  width: 300px;
  float:right;
  height: auto;
  margin-top: 5px;
}
.barkmail {
  position:relative;
  display:inline-block;
  color: white;
  padding-left: 10%;
  margin: 0% 5% 0% 5%;
}
.images {
  position:relative;
  display:inline-block;
  color: white;
  margin: 0% 5% 0% 5%;
}
.doge {
  border-radius: 50%;
/*object-fit: cover; There was a very purposeful design choice making the dog's profile photo look smushed, it's funnier that way.
  object-position: top;*/
  object-fit: fill;
  height: 40px;
  width: 40px;
  display:inline-block;
  vertical-align: middle;
  margin: 0% 10% 0% 5%;
/*  position: relative; */
}
/* I couldn't get the dropdown menu to work so I'm leaving the code inactive
.doge:hover .dropdown {
  display: block;
}
.dropdown{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px black;
  padding: 10px 18px;
  z-index: 1;
}
*/


.mainstuff{
  display: block;
  margin: 15% 10% 2% 10%;
}
.title{
  text-align: center;
  margin:0% 1% 0% 1% ;
}


.searchBar{
  background: white;
  border-radius: 30px;
  padding: 0% 2%;
  margin: 0% 20% 0% 20%;
//  align-content: left;
}
.magnifyingGlass{
  border-radius: 50%;
  object-fit: fill;
  height: 20px;
  width: 20px;
  display:inline-block;
  vertical-align: middle;
  }
.search{
  display:inline-block;
  padding: 0px 5%;
}
.bark {
  border-radius: 50%;
  object-fit: cover;
  height: 20px;
  width: 20px;
  display:inline-block;
  vertical-align: middle;
  float: right;
  margin: 15px 1px;
  }


.lower-page{
  display:block;
  text-align: center;
  border-radius: 15px ;
}
.sniff{
  position:relative;
  display:inline-block;
  background-color: #ededed;
  color: blue;
  border-radius: 3px;
  padding: 15px;
}
.snoot{
  position:relative;
  display:inline-block;
  background-color: #ededed;
  color: blue;
  padding: 15px;
  border-radius: 3px;
}

body{
  background-color:#7ac9e1;
  margin-top: 0px;
  }
h1{
  font-size: 100px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  background: url(https://media.istockphoto.com/photos/fur-texture-picture-id673628572?k=20&m=673628572&s=612x612&w=0&h=88UR5pdbwkXjkzUF7Uzv-xMlW6KV3U5gEwZ8XnzuGxs=) no-repeat center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip:text;
  background-clip:text;
  padding:0;
  margin:0;
  text-align:center;
}
p{
  color: #949494;
  font-family:sans-serif;
}

/* Error page specific */
.errorMain{
  margin: 5% 0%;
  text-align: center;
}
.doggos{
  margin-top:5%;
}
.foreman{
  border-radius: 35%;
  object-fit: fill;
  height: 200px;
  width: 200px;
  display:inline-block;
  vertical-align: middle;
  margin:0% 1%;
  border: #535353 2px solid;
  box-shadow: 2px 1px 5px;
}
.mixer{
  border-radius: 35%;
  object-fit: fill;
  height: 200px;
  width: 200px;
  display:inline-block;
  vertical-align: middle;
  margin:0% 1%;
  border: #535353 2px solid;
  box-shadow: 2px 1px 5px;
}
.operator {
  border-radius: 35%;
  object-fit: cover;
  height: 200px;
  width: 200px;
  display:inline-block;
  vertical-align: middle;
  margin:0% 1%;
  border: #535353 2px solid;
  box-shadow: 2px 1px 5px;
}
.tall {
  border-radius: 35%;
  height: 200px;
  width: 200px;
  display:inline-block;
  vertical-align: middle;
  margin:0% 1%;
  border: #535353 2px solid;
  box-shadow: 2px 1px 5px;
}
